*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{ 
    background-image: url(https://www.copilotsearch.com/uploads/00_used_car_lot-2ajwf7c.jpg);
    background-color: rgb(44, 44, 44);
    background-size: cover;
    background-position: 50% 10%;
    font-family: sans-serif;
    position: sticky;
}

p{
    padding: 25px;
    text-align: left;
}

.menu-bar
{
    background: rgba(168, 140, 140, 0.397);
    text-align: center;
    position: sticky;
    height: 100px;
    max-height: 150px;
    padding-bottom: 0px;
    padding-top: 0px; 
    padding-left: 100px;
    z-index: 5;
}

.menu-bar ul 
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li
{
/* width: 120px; */
width: auto;
margin: 15px;
padding: 15px;
}

.menu-bar ul li a
{
text-decoration: none;
color: #bab6b2;
}

.active, .menu-bar ul li:hover
{
    background: #393a36;
    border-radius: 5px;
    width: auto;
}

.menu-bar .fa
{
    margin-right: 8px;
}

.sub-menu-1 
{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: #393a36;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
display: block;
margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color:  #d7eef0;
}

.fa-angle-right
{
    float: right;
}

.sub-menu-2
{
    display: none;
}

.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color:#393a36;
}

.title 
{
    text-align: left;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #d7eef0;
    z-index: 1;
    top: 10px;
    left: 15px;
    position: absolute;
}
.title-small
{
    text-align: left;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #d7eef0;
    z-index: 1;
    top: 25px;
    left: 10px;
    position: absolute;
}

.title-split
{
    text-align: left;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #d7eef0;
    z-index: 1;
    top: 50px;
    left: 10px;
    position: absolute;
}

.home-des
{
    text-align: center;
    margin-top: 300px;
    color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#636060;
    border-style: groove;
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 40px;
}
  .rep-text 
  {
    text-align: center;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color:rgb(44, 44, 44);
    border-style: groove;
    display: block;
    margin-left: 10%;
    margin-right: 20%;
    font-size: 35px;
    background-color:rgb(44, 44, 44);
    margin-bottom: 150px;
  }
  #contact_form {
    background-color: #dbc1a300;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    }
  
  .row label{
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 10px;
  }
  
  input[type=text], textarea {
    text-align: left;
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto 0;
    color: #332828;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px #444b4b;
    }
  
  input[type=text] {
    height: 25px;
  }
  
  input[type=submit] {
    background-color: #423934;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 10px;
    box-shadow: 5px 5px 5px #3e4444;
  }
 
  .button {
    background-color: #89cff0;
    border-radius: 2px;
    border-color: black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    font-size: 13px;
    font-family: "Lucida Console", monospace;
     margin: 4px 2px;
    cursor: pointer;
    
    margin-top: 315px;
 }

 .rep-pics 
 {
    height: 500px;
    width: 700px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 110px;
 }

 .rep-title
 {
    margin-right: 50%;
    margin-left: 32%;
 }